#tudoes {
	width: 100%;
	height: 100%;
	text-align: left;
	background-color: white;
}

#topoes {
	position: fixed;
	width: 100%;
	height: 65px;
	background: #4682B4;
	border-bottom: 2px solid black;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius:15px;
}
#topoes img{
	margin-left: 10px;
}
#nomepessoa{
	font-family:arial black;
	font-size:1.3em;

}
#topoes img:hover {
	background: #EEE8AA;
	border-radius: 20px;	
}
#Menu div#MenuImg div#MenuImg3 {
	position:absolute;
	right: 300px;
	top:12px;
	margin: 0;

}
#Menu div#MenuImg div#MenuImg3 img:hover {
	background: #5F9EA0;
	border-radius: 5px;	
}
#Menu div#MenuImg div#MenuImg4 {
	position:absolute;
	right: 240px;
	top:12px;
	margin: 0;

}
#Menu div#MenuImg div#MenuImg4 img:hover {
	background: #5F9EA0;
	border-radius: 5px;	
}
#Menu div#MenuImg div#MenuImg5 {
	position:absolute;
	right: 180px;
	top:12px;
	margin: 0;

}
#Menu div#MenuImg div#MenuImg5 img:hover {
	background: #5F9EA0;
	border-radius: 5px;	
}
#Menu div#MenuImg div#MenuImg6 {
	position:absolute;
	right: 120px;
	top:12px;
	margin: 0;

}
#Menu div#MenuImg div#MenuImg6 img:hover {
	background: #5F9EA0;
	border-radius: 5px;	
}
#Menu div#MenuImg div#MenuImg7 {
	position:absolute;
	right: 60px;
	top:12px;
	margin: 0;
	color: black;

}
#Menu div#MenuImg div#MenuImg7 img:hover {
	background: #EEE8AA;
	border-radius: 4px;	
}
#escreva{
    position: absolute;
    background-color: #4682b4;
    border-radius: 5px;
    border:2px solid black; 
    font-size: 1em;
    width: 72%;
	height: relative;
	text-align: left;
	left: 13%;
	margin-top: 7%;
	padding-right: 11px;
}
#escreva h3{
	text-align: center;
	font-family: arial black;
	color: white
}
#escreva #button{
	position: absolute;
	left: 81%;
	top: 93.5%; 

}
#texto{
    padding-bottom: 25px;
}
#texto #titulo{
	margin-top: 1.5%; 
	margin-left: 40%;

}

#texto form{
	margin-top: 15px;
	margin-left: 8%;
	

}
#imgfundo #lapis{
	margin-top: 4%;
	margin-left: 85%;
}
#imgfundo #livro{
	margin-top: 15%;
}
#textarea{
	width: 817px;
	height: 405px;
	margin-bottom: 1.5%;
}